.section-callback {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:80;    
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .8);
        cursor: pointer;
        z-index:30;
    }
    &__popup {   
        position: absolute;
        width:100%;
        height:100%;
        padding: 20px 0;
        text-align: center;       
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 31;
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }
}