.section-subscribe {
    @extend .container--fluid;
    background-image: url(/images/strip_houses.png);
    background-color: rgba(211,211,211,.26);
    &__content {
        @extend .container;
        display:flex;
        min-height:100px;
        align-items: center;
    }
    
    &__title {
        max-width:295px;
        font:100 16px/21px "Roboto";
        margin-right:40px;
        @include tablet-vl {
            display:none
        }
    }
    &__message {
        display: none;
        max-width:500px;
        font:100 16px/21px "Roboto";
        margin:0 auto;       
    }
    &__form-group {
        position: relative;
        width: 30%;
        min-width: 400px;
        @include tablet-vl {
            width: 50%;
            margin:0 auto;
        }
        @include mobile {
            width:100%;
            min-width:100%;
        }
        &--error {
            .input {
                border-color:salmon;
            }    
        }
        .input {
             border-radius:20px;
             background:#fff;
             border:2px solid #fff;
             color:black;
             padding:10px 165px 10px 20px;
             width:100%;
             font:300 14px/21px "Roboto";
             
             @include mobile {
                padding:10px 125px 10px 20px;
                font:300 13px/21px "Roboto";
             }
        }
        .button {
            position: absolute;
            right:0;
            top:0;            
            box-shadow: none;
             @include mobile {
                padding:10px 20px;
             }
        }
    }
}