*.log
composer.phar
*.bin
*.settings
.project
*db.php
*.komodoproject
/nbproject/private/
/.komodotools/
*.xml
*.properties
nbproject/
/.idea/
protected/config/db.php
*/_log
/tests/tests/_log/
*.*~
*.yml
!.teatro.yml
!*.dist.yml
/.vagrant/
Vagrantfile
/public/estateGuru-FD/public/sprite
/public/estateGuru-FD/public/css
/public/estateGuru-FD/public/js
/public/estateGuru-FD/node_modules
