.checkbox {    
    display: block;
    width:auto;
    padding:3px 0;
    .box {
        border-radius:50%;    
        width:30px;
        height: 30px;
        box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
        background:#fff;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
    input {
        display:none;
    }
    input:checked + .box {
        background:#62bb46;
        color:#fff;
    }
}