.popup {
            background-color: #fff;
            padding: 35px 32px;
            border-radius: 5px;
            box-shadow: 0 5px 20px 3px rgba(0, 0, 0, .15);
            display: inline-block;
            vertical-align: middle;
            position: relative;
            text-align: left;
            width: 350px;
            @include tablet-hl {
                width: 300px;
            }
            &__close {
                @include svg-cross;
                display: block;
                right: 32px;
                top: 28px;
                position: absolute;
            }
            &__title {
                margin-bottom: 24px;
                font: bold 18px/18px 'Open Sans';
                margin-bottom: 40px
            }
            &__field {
                margin-bottom: 25px;
                .label {
                    font: 12px/21px Roboto;
                    color: #545454;
                    margin-bottom: 5px;
                    display: block;
                    float: left;
                }
                .error {
                    @extend .label;
                    float: right;
                    color: salmon;
                }
                .input {
                    font: 16px/24px Roboto;
                    border: 1px solid #d3d3d3;
                    padding: 5px 8px;
                    &--error {
                        border-color: salmon;
                    }
                }
                .textarea {
                   width:100%;
                   resize: none;
                   height:100px;
                   @extend .input;
                   &--error {
                       @extend .input--error;
                   }

                }
            }
            &__message {
                font: 16px/24px Roboto;
                text-align: center;
            }
            &__button {
                margin-top: 32px;
                text-align: center;
                .button {}
            }
        }