.slider-logos {
    display:none;
    &.slick-slider {
        display:block;
    }
    .arrow {
        cursor: pointer;
        position:absolute;
        top:50%;
        // transform:translate(0,-50%);
        margin-top:-17.5px;
        z-index:2;        
        &--next {
            @include svg-slider-promo-next;
            right: -3%;           
            @include tablet-vl {
                   right: -5px;
               }    
        }
        &--prev {
            @include svg-slider-promo-prev;
               left: -3%;
               @include tablet-vl {
                   left: -5px;
               }    
        }
    }
}
.slider-logos {
    width:calc(100% + 20px);
    margin-left:-10px;
    
    &__item {
        padding:10px;
        .logo {
            height:90px;            
            line-height: 70px;
            padding:10px;
            border:1px solid $border-color;
            text-align: center;
            img {
                display: inline;
                vertical-align: middle;
                max-width:100%;
            }
        }
    }

}