     .tooltip {        
            top:0;
            left:0;    
            position: absolute;
            width: 200px;
            height:156px;                       
            z-index: 10;
            box-shadow:0 1px 20px 1px rgba(0,0,0,.2);
            border-radius:10px;
            z-index:11;
            // transform: translate(-50%, -100%);
            margin-top:-200px;
            margin-left:-100px;
            transition: 
                opacity .5s ease,
                visibility .5s ease;
            @include tablet-hl {
                display:none;
            }
            &.show {
                opacity:1;
                visibility:visible;
            }
            &.hidden {
                opacity:0;
                visibility:hidden;
            }
            &__content {
                padding:20px 25px;                      
                border-radius:10px;
                background:#fff;
                position: absolute;
                z-index: 10;
                height:100%;
                width:100%;
                left:0;
                top:0;
                .row {
                    font:100 13px/26px "Roboto";                    
                }
            }
            &:after {
                content:'';
                bottom:-10px;  
                border-width: 10px;                
                border-style: solid;
                box-shadow:0 1px 20px 1px rgba(0,0,0,.2);
                left:50%;
                margin-left:-20px;
                position:absolute;
                transform: rotate(-45deg);
                border-color: transparent transparent #fff #fff;              
                z-index:9;
            }
        }