/* COLORS */

/* FONTS */
// $font_main : "Roboto";
// $font_alt_1
// $font_alt_2

$active-color:#a54686;
$border-color:#e8e6e6;


$font_main: "Roboto";

/* MEDIA */
$mobile: 560px;
$tablet-vl: 768px;
$tablet-hl: 1024px;
$desktop: 1440px;
$large: 2650px;