@mixin common {
	background: url("../sprite/sprite-dc950e70.svg") no-repeat;
}

@mixin svg-bar {
	@include common;
	background-position: 98.13084112149532% 66.33644859813084%;
	width: 34px;
	height: 24px;
}

@mixin svg-cross {
	@include common;
	background-position: 64.7176368375326% 55.185537583254046%;
	width: 25.9px;
	height: 25.9px;
}

@mixin svg-estate {
	@include common;
	background-position: 0 0;
	width: 54px;
	height: 58px;
}

@mixin svg-filter-icon {
	@include common;
	background-position: 0 63.04347826086956%;
	width: 39px;
	height: 39px;
}

@mixin svg-go-to-map {
	@include common;
	background-position: 36.96332101222633% 60.72662548424249%;
	width: 35.49px;
	height: 35.49px;
}

@mixin svg-magnifier {
	@include common;
	background-position: 0 100%;
	width: 34px;
	height: 34px;
}

@mixin svg-news {
	@include common;
	background-position: 60% 0;
	width: 51px;
	height: 58px;
}

@mixin svg-phone {
	@include common;
	background-position: 29.310344827586206% 91.50943396226415%;
	width: 25px;
	height: 25px;
}

@mixin svg-slider-promo-next {
	@include common;
	background-position: 99.5166334944555% 37.15841273165114%;
	width: 35.49px;
	height: 35.49px;
}

@mixin svg-slider-promo-prev {
	@include common;
	background-position: 99.5166334944555% 0;
	width: 35.49px;
	height: 35.49px;
}

@mixin svg-to-more {
	@include common;
	background-position: 47.58064516129032% 82.90598290598291%;
	width: 17px;
	height: 14px;
}

