.button {
    font: 14px/21px "Roboto";
    padding:10px 40px;
    border-radius: 20px;    
    display:inline-block;
    cursor: pointer;
}
.button--action {
    background-color:#62bb46;
    border:none;
    color:white;
    border: 2px solid #62bb46;    
}
.button--subscribe {
    @extend .button--action;
    border: none;
    
}
.button--empty {    
    background:none;
    transition: .5s ease;
   
}
.button--filter {
    padding: 8px 40px;
    width:100%;
}
.button--popup {    
    @extend .button--action;
    box-shadow: none;
    font-size:14px;
    padding:10px 40px;
}
.button--nav-link {
    padding:8px 16px;
    border: 2px solid #62bb46;
    color:black;
}
.button--callback-mb {
    border-radius:100%;
    background-color:#a54686;
    width:45px;
    height:45px;
    padding:0;
    position: relative;   
    display: block;
    &:after {
        position: absolute;
        left:50%;
        top:50%;
        margin-top:-13.5px;
        margin-left:-12.5px;
        @include svg-phone;
        content:''
    }
    
}
.button--bar {
    @include svg-bar;
    padding:0px;
    border-radius: 0;
    display: block;
}
.button--green {
    color:#62bb46;
    border: 2px solid #62bb46;

}
.button--blue {
    color:#4a94f1;
    border: 2px solid #4a94f1;
}
.button--orange {
    background:#f48220;
    color:#fff;
}
.button--callback {
    font: 400 14px / 21px "Roboto";
    padding:10px 20px;
    color:white;
    background-color:#a54686;
    text-align: center;
    box-shadow: none;
}