.card-news {
    @extend .card-estate;
    // border:none;    
    height:100%;
    &__head {
        @extend .card-estate__head;
    }
    &__name {
        padding:20px;
        .title {
            font:bold 15px/18px "Open Sans";
            color:black;
            margin-bottom:20px;
        }
        .preview {
            font:14px/18px "Open Sans";
            color:#767676;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding:10px 20px 10px;
        width:100%;
        margin-top: auto;
       .views {
           position: relative;
           padding-left:20px;
           font:12px/21px "Roboto";
           color:#959595;
           &:after {
                position:absolute;
                top:2px;                
                left:0;
                content:'';
                width:20px;
                height:15px;
                background: url(/svg-icons/eye.svg) no-repeat;
                background-size: contain;
            }
       } 
       .date {
         font:12px/21px "Roboto";
         color:#959595;
       }
    }
}
.card-news--full {   
    min-height:400px; 
    .card-news {
        &__head {
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;            
        }
        &__name {
            position: absolute;
            bottom:20px;
            left:0;
            padding:20px 30px;
            .title {
                color:#fff;
                font:bold 24px/24px 'Open Sans';
                max-width:315px;
            }
            .preview {
                color:#fff;
            }
        }
        &__info {
            position: absolute; 
            padding:20px 30px;
            .date {
                color:#fff;
            }
        }
    }
}

