.filter {
  position: absolute;
  width:320px;
  top:0;
  left:0px;
  
  @include tablet-hl {    
    width:100%;    
  }
  background:#fff;
  z-index:5;
  border-right:1px solid #e8e6e6;
  transition:all .5s ease;
  transform:translate3d(0px,0,0);
  height:100%;  
  &__content {
    padding:60px 55px 60px 20px;   
    height:100%;    
  }
  &--sticky {    
    &:not(.filter--close) {
      .filter__content {
        @include tablet-hl {
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
        }
      }
    }
    @include tablet-hl {
      position: fixed;
    }    
  }
  &--close {    
      transform:translate3d(-100%, 0, 0); 
      margin-left: 50px;         
    
  }
  &__icon {
    @include svg-filter-icon;
    position: absolute;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    cursor:pointer;  
    &--top {
      right: 5px;
      top: 10px;

    }
    &--bottom{
      position: absolute;
      bottom:10px;
      left:50%;
      margin-left:-20px;
      display:none;

    }
  }
  &__title {
    margin-top:0;
    font:700 24px/28px "Roboto";
  }
  &__group {
    width:100%;
    margin-top:30px;
    &--full {
      flex-basis:100%;
    }
    &-label {
      .title {
        font: 500 18px / 24px "Roboto";
      }
      .caption {
        font: 400 14px / 20px "Roboto";
        min-height:40px;
      }
    }
    &-input {
      //display:flex;
      .checkbox {
        margin-right:6%;
        display:inline-block;
      }
    }
  }


}
.filter {
  .multiselect__tags {
    border-radius: 20px;
    padding: 8px 40px 0 16px;
    transition:border-radius .5s ease;
  }
  .multiselect--active {
      z-index:20;
      .multiselect__tags {
        border-radius: 20px 20px 0 0;
      }
      .multiselect__content-wrapper {
        transition-delay:.2s;
        z-index: 20;
      }
  }
  .multiselect__option--selected.multiselect__option--highlight,
  .multiselect__option multiselect__option--highlight,
  .multiselect__option--highlight{
    background: #f48220;
  }

}