.footer {
    @extend .container--fluid;
    background-color: #f6f6f6;
    margin-top:auto;
    &__content {
        @extend .container;
        // display:flex;   
       padding-top:120px;
       padding-bottom:120px;
        // position: relative; 
        // column-count: 4;
        // column-width: 200px;
        // column-gap: 30px;
      
        @include tablet-vl {
            padding-bottom:70px;
            padding-top:70px;
        }
        @include mobile {
            padding-bottom:32px;
            padding-top:32px;          
            text-align: center;          
        }        
    }
    &__content-list {
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        max-height:200px;
        @include tablet-vl {
            max-height:300px;
        }

    }
    &__content-logo {
        margin-bottom:30px;
    }
    // &__col {
        // display: inline-block;
        // flex-basis: 23%;
        // position: relative;
        // margin-right:20px;
        .phone {
            color:#000000;
            font:500 18px/21px "Roboto";            
            display:block;
            &:not(:last-child) {
                margin-bottom:20px;
            }
        }
        .adress {
            color:#767676;
            font:500 13px/18px "Open Sans";
            max-width:200px;           
            @include mobile {
                margin:0 auto;
            }
        }
        .link {
            flex-basis: calc(100% / 4);
            margin-right:30px;
            font:13px/21px "Open Sans";
            color:#606060;   
            
            &:not(:last-child) {
                margin-bottom:20px;  
            }
            
            &:not(:last-child, :first-child, :nth-child(2)) {
                @include mobile {
                    display:none;
                }
            }
        }
        .button {
            // position: absolute;
            // bottom:10px;
            // left:0;
        }
    // }
}