.header {
    @extend .container--fluid;
    @include tablet-vl {
        border-bottom: 1px solid $border-color;
    }
    &__navbar {
            @include tablet-vl {
                display:none;
            }
    }
    &__content {
        @extend .container;
        height: 100px;
        display: flex;
        align-items: center;
        position: relative;
        @include tablet-hl {
            justify-content: space-between;
        }
    }
    &__bar {
        // padding:10px;   
        display: none;
        @include tablet-hl {
            display: block;
        }
    }
    &__logo {
        width: 200px;
        @include tablet-vl {
            width: 160px;
        }
        @include mobile {
            width: 110px;
        }
        .logo {
            display: block;
            img {
                display: block;
                max-width: 100%;
            }
        }
    }
    &__menu {
        color: black;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include custom(1280px) {
            left: 46%;
        }
        &-item {
            font: 400 14px / 21px 'Roboto';
            &:not(:last-child) {
                margin-right: 30px;                
            }
            &.active {
                color:#a54686
            }
        }
        @include tablet-hl {
            display: none;
        }
    }
    &__callback {
        display: flex;
        align-items: baseline;
        margin-left: auto;
        @include tablet-hl {
            margin-left: 0;
        }
        &-phone {
            font: 500 18px / 21px "Roboto";
            margin-right: 30px;
            // @include custom(1280px) {
            //     margin-right:10px;
            //     font: 500 16px / 21px "Roboto";
            // }
            @include tablet-hl {
                display: none;
            }
        }
        &-button-mb {
            display: none;
            @include tablet-hl {
                display: block;
            }
        }
        &-button {
            @include tablet-hl {
                display: none;
            }
        }
    }
}