.menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:60;     
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .8);        
        z-index:20;
    }   
    &__container {
        list-style:none;
        margin:0;
        padding:0;
        // min-height:100%;
        height:100%;
        position: absolute;
        z-index:30;        
        background:white;
        box-shadow: -10px 0px 35px 0px rgba(0,0,0,.15) inset;
        overflow-y: auto;
         -webkit-overflow-scrolling: touch;
    }
    &__item {
        color:black;
        border-top:1px solid #e8e6e6;
        display:block; 
        padding:20px 40px 20px 20px;
        font:400 14px/21px "Roboto";       
        &:first-child {
            border-top:none
        }
    }
}