.navbar {
    position:relative;
    z-index: 50;
    @extend .container--fluid;            
    &:before {
        content:'';
        position: absolute;
        height:1px;
        top:50%;
        width:100%;
        left:0;
        background-color:$border-color;        
    }
    &__menu {
        position: absolute;
        top:50%;
        left:50%;
        background:#fff;
        transform:translate(-50%,-50%);
        display:flex;
        align-items: stretch;
        padding: 2px;
        border-radius: 20px;
        border:1px solid $border-color;        
        .link {
            font: 13px/18px "Roboto";
            background:white;          
            border-radius: 20px;
            cursor: pointer;
            white-space: nowrap;
            display: block;            
            @include mobile {
                white-space: normal;
                padding: 8px 20px;
            }
            a {
                padding: 12px 20px;
                position: relative;
                // top: 50%;
                // transform: translateY(-50%);
                display: block;
            }
            // &:not(:last-child) {
            //     margin-right:30px;
            // }
        }
        .active {
            color:#fff;
            background:#a54686;
            pointer-events: none;
            cursor:default;
        }
    }
}