$text_color:#4e4d4d;
.object {
    @extend .container;
    margin-bottom: 50px;
    &__content {
        display: flex;
        margin-top: 32px;
        @include mobile {
            flex-direction: column;
        }
    }
    &__title {
        margin-top: 48px;
        @include mobile {
            margin-top: 32px;
            font: bold 24px/32px "Roboto";
        }
        .text {
            font: bold 32px/34px "Roboto";
            color: black;
            margin-bottom: 10px;
            @include mobile {
                font: bold 28px/32px "Roboto";
            }
        }
        .caption {
            font: 100 13px/21px "Roboto";
            color: #606060; // text-transform: uppercase;
        }
    }

    &__photo {
        flex-basis: 45%;
        padding-right: 80px;
        // max-width:500px;
        // margin:0 auto;
        @include tablet-hl {
            padding-right: 30px;
        }
        @include mobile {
              margin-bottom:48px;      
              flex-basis: auto;
              padding-right: 0;
        }
        &-main {            
            margin-bottom: 10px;
            img {
                width: 100%;
            }
            .photo {
                // max-width:500px;
                @include tablet-vl {
                    margin:0 auto;
                }

            }
        }
        &-grid {
            display: flex;
            width: calc(100% + 20px);
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-left: -10px;           
            .photo {
                padding: 10px;
                flex-basis: calc(100% / 3);
                flex-grow: 0;
                @include tablet-vl {
                    flex-basis: calc(100% / 2);
                }
                @include mobile {
                    flex-basis: calc(100% / 3);
                }
                img {
                    max-width: 100%;
                }
            }
        }
       
    }
    &__desc {
        flex-basis: 55%;
        @include mobile {
              flex-basis: auto;
        }
        &-title {
            font: bold 18px/24px "Open Sans";
            margin-bottom: 24px;
        }
        &-common {
            margin-bottom: 20px;
            .row {
                display: flex;
                justify-content: space-between;
                font: 14px/36px "Roboto";
                color: $text_color;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(118, 118, 118, .5);
                }
            }
        }
        &-on-map {
            min-height:250px;
            margin-bottom: 20px;
            overflow:hidden;
            & > [class *= "map"] {
                position: absolute;
            }
        }
        &-to-map {
            width: 100%;
            height: 82px;
            font: 400 16px/24px "Roboto";
            color: #fff;
            text-align: center;
            position: relative;
            display: flex;
            background-image: url('/images/map.png');
            margin-bottom: 24px;
            cursor: pointer;
            .text {
                position: relative;
                z-index: 20;
                margin: auto;
            }
            &:after {
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #a54686;
                opacity: .65;
                z-index:19;
                content: '';
            }
            background-image: url('/images/house.jpg');
            background-position: bottom;
            
            &:after {
                background-color:  #62bb46;
                opacity:.85;
                
            }
        }
        // &-to-house {
        //     @extend .object__desc-to-map;
        //     background-image: url('/images/house.jpg');
        //     background-position: bottom;
            
        //     &:after {
        //         background-color:  #62bb46;
        //         opacity:.85;
                
        //     }
        // }
        &-text {
            font: 14px/21px "Open Sans";
            color: $text_color;
            margin-bottom: 48px;
        }
        &-concl {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap:wrap;
            .price {
                margin: 0 24px 24px 0; 
                @include mobile {
                    // margin-right:0;
                }
                .caption {
                    font: 16px/24px 'Open Sans';
                    color:#4C4D47;
                    display: inline-block;
                    vertical-align: top;
                    margin-right:20px;
                    margin-bottom:10px;
                    display: block;
                }
                .value {                 
                    font:bold 32px/24px 'Open Sans';
                    color:black;
                    display: inline-block;
                    vertical-align: top;
                    display: block;
                }
              .warning {
                font: 10px/12px 'Open Sans';
                color:black;
                display: block;
                margin-top:10px;
              }
            }
            .callback {
                margin-bottom:24px;
                
                // @include mobile {
                //     flex-basis:100%;
                // }
            }
        }
    }
}