.slider-logos {
    display:none;
    &.slick-slider {
        display:block;
    }
    .arrow {
        cursor: pointer;
        position:absolute;
        top:50%;
        // transform:translate(0,-50%);
        margin-top:-17.5px;
        z-index:2;        
        &--next {
            @include svg-slider-promo-next;
            right: -3%;           
            @include tablet-vl {
                   right: -5px;
               }    
        }
        &--prev {
            @include svg-slider-promo-prev;
               left: -3%;
               @include tablet-vl {
                   left: -5px;
               }    
        }
    }
}
.slider-logos {
    width:calc(100% + 20px);
    margin-left:-10px;
    .slick-track {
        display:flex;
        align-items:stretch;        
    }
    .slick-slide {
        float:none;
        min-height:100%;
        height:auto;
    }
    &__item {
        padding:10px;
        .logo {                                             
            border:1px solid $border-color;
            text-align: center;
            padding: 5px 15px;  
            height:100%;
            display:flex;
            align-items:center;   
            justify-content: center;       
            img {
                display: inline-block;
                vertical-align: middle;                      
                max-width: 100%;
            }
        }
    }

}