.slider-nav {
      display:none;
      &.slick-slider {
          display:block;
      }
      .arrow {
        cursor: pointer;
        position:absolute;
        top:50%;
        transform:translate3d(0, -50% ,0);
        z-index:2;
        &.slick-disabled {
            pointer-events: none;
            opacity:.3;
        }
        &--next {
            @include svg-slider-promo-next;
            right:10px;
        }
        &--prev {
            @include svg-slider-promo-prev;
            left:10px;
        }
    }

}

.slider-nav {  
    width:calc(125px * 3 + 120px);
    padding:0 60px;  
    margin:0 auto; 
    @include mobile {
        width:100%;
        padding:0;        
    }   
    &__item {
        width:125px;
        text-align: center;  
        padding:10px 0;
        .button {
            line-height:14px;
        }                 
    }
}