     .tooltip {
            position: absolute;
            pointer-events: all; 
            width: 200px;
            height:auto;
            box-shadow:0 1px 20px 1px rgba(0,0,0,.2);
            border-radius:10px;
            z-index:11;
            transform: translate(-50%, -120%);
            transition: 
                opacity .5s ease,
                visibility .5s ease;
            &.show {
                opacity:1;
                visibility:visible;
            }
            &.hidden {
                opacity:0;
                visibility:hidden;
            }
            &__content {
                padding:20px 25px;                      
                border-radius:10px;
                background:#fff;
                position: relative;
                z-index: 10;
                height:100%;
                width:100%;
                left:0;
                top:0;
                @include tablet-hl {
                  padding:10px 15px;
                }
                .row {
                    font:100 13px/26px "Roboto";
                    &:last-child {
                      margin-top:10px;
                      margin-bottom:10px;
                      font:100 15px/15px "Roboto";
                      color:#a54686;
                      display:none;
                      @include tablet-hl {
                        display:block;
                      }
                    }
                }
            }
            &:after {
                content:'';
                bottom:-9px;
                border-width: 10px;                
                border-style: solid;
                box-shadow:0 1px 20px 1px rgba(0,0,0,.2);
                left:50%;
                margin-left:-14px;
                position:absolute;
                transform: rotate(-45deg);
                border-color: transparent transparent #fff #fff;              
                z-index:9;
            }
        }