.visual {   
    width:100%;
    height:100%;
    position: relative;  
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    &__title {
        text-align:center;
        margin-bottom:24px;
        &-main {
            font:600 14px/20px "Open Sans";
        }   
        &-caption {
            font:400 14px/18px "Roboto";
        }
    } 
    &__content {
        position: relative;                
        width:840px;
        margin:0 auto;       
        &-image {  
                          
            img {
                max-width:100%;
            }
        }
        &-tooltips {
            position: absolute;
            width:100%;
            height:100%;
            left:0;
            top:0; 
            pointer-events: none;          
        }
        &-svgs { 
                           
            svg {
                &.freeze {
                    path {
                        fill: rgba(49, 187, 29, 0.5);
                        pointer-events: none;
                    }
                    
                }
                position: absolute;
                width:100%;
                height:100%;   
                top: 0;
                left: 0; 
                pointer-events: none;
                path {
                    pointer-events: all;
                    cursor:pointer;
                    fill:rgba(98, 187, 70, 0.3);
                    stroke:#f48220;
                    stroke-width:2px;
                    transition:all .5s ease;
                    @include tablet-hl {
                        fill: rgba(49, 187, 29, 0.5);
                    }
                    &:hover {
                        @include onHover {
                            fill: rgba(49, 187, 29, 0.5);
                        }

                    }
                }
            }
        }
    }

}
