.section-switcher {
    margin-bottom:86px;
    &__title {
        @extend .container;
        font: bold 21px/24px 'Open Sans';
        margin-bottom:32px;
    }
    &__nav {
        width:100%;
        margin-bottom:48px;
        .active {            
            .button {
                @extend .button--action;
            }           
        }
    }
    &__content {
        position: relative;
        margin-bottom:48px;        
        overflow:hidden;        
        padding: 0 40px 40px;
        @include tablet-hl {
            -webkit-overflow-scrolling: touch;
            overflow-x:scroll;
            overflow-y:hidden;
        }
        &:after {
            position: absolute;
            top: 0;
            height: 100%;
            width: 40px;
            visibility:hidden;
            background-image: linear-gradient(to left,#fff,rgba(255,255,255,0));
            @include tablet-hl {
                visibility: visible
            }
        }
        

        .visual {            
            width: 860px;
            visibility:hidden;
            opacity:0;
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);            
            &.active {
                visibility:visible;
                opacity:1;
                position: relative;
                left:0;
                margin:0 auto;
                transform:none;
            }
        }
    }
    &__legend {
        text-align: center;
        max-width:85%;
        margin:0 auto; 
        line-height:45px;       
        .cube {
            width:30px;
            height:30px;
            background-color:#b0dda2;
            display:inline-block;
            border-radius: 5px;
            vertical-align: middle;            
        }
        .caption {
            display:inline-block;
            vertical-align: middle;
            font:14px/21px Roboto;
            white-space:normal;
        }
    }
}