.main {
    &__estate {
        margin-bottom:60px; 
        @include tablet-hl {
            margin-bottom:40px; 
        }                         
    }
    &__link-to-map {
        margin-bottom:90px;
        @include tablet-hl {
            margin-bottom:40px;
        }     
    }
    &__news {
        margin-bottom:80px;
      
    }
    &__logos {
        margin-bottom:60px;        
        .section-tabs__switcher {
            margin-bottom:40px;
        }
        .section-tabs__content {
            @extend .container;
        }
    }
}