.slider-layouts {
    display:none;
    &.slick-slider {
        display:block;
    }
    .arrow {
        cursor: pointer;
        position:absolute;
        top:50%;
        // transform:translate(0,-50%);
        margin-top:-17.5px;
        z-index:2; 
        &.slick-disabled {
            opacity:.3;
        }           
        &--next {
            @include svg-slider-promo-next;
            right: 5px;                       
            @include tablet-vl {
                   right: 45%;
                   margin-right:-20px;
                    bottom:0;
                   top:auto;
               }    
        }
        &--prev {
            @include svg-slider-promo-prev;
           
            left: 5px;
            @include tablet-vl {
                   left: 45%;
                   margin-left:-20px;
                   bottom:0;
                   top:auto;
               }       
        }
    }
}
.slider-layouts {
    // @extend .container;
    max-width:880px;
    width:100%;
    padding:0 40px;
    margin:0 auto 50px;
    position: relative;
    @include mobile {
        padding:0 20px 60px;
    }
    &__item { 
        margin:0 auto;
        img {
            max-width: 100%;
            display:block;
            width:100%;
        }
    }
}