.visit {
    @extend .container;
    margin-top: 48px;
    margin-bottom: 72px;
    &__title {
        font: bold 32px/32px "Roboto";
        margin-bottom:48px;
    }
    &__info {
        .shedule {
            width:65%;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include tablet-vl {
                width:100%;
            }
            &__item {
                max-width: 265px;
                margin-bottom:48px;
                width:50%;
                margin-right: 20px;
                flex-grow: 1;
                .title {
                    font:bold 14px/21px "Roboto";
                    margin-bottom:15px;
                }
                .text {
                    color:#767676;
                    font: 14px/21px "Roboto";
                }
                .link {
                       display:block;
                       font: 14px/21px "Roboto";
                       text-decoration: underline;
                       color:#a54686;
                }
            }
        }
        .form {
            position: absolute;
            right:15%;
            top:100px;
            z-index: 20;
            @include tablet-vl {
                position: relative;
                right:auto;
                top:0;
            }
            .popup {
                @include tablet-vl {
                        width: 100%;
                        margin-bottom:48px;
                }
            }
        }
    }
    &__map {
        // @extend .container;
        min-height:550px;
    }
}