.visual { 
    max-width:840px;   
    width:100%;
    height:100%;
    position: relative;
    margin:0 auto;
    &__navbar {
        
    }
    &__image-lr {
        text-align: center;
        .image {
            img {
                max-width:100%;
            }
        }
    }
    &__polygons-lr {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%; 
        z-index:10;  
        .polygon {
            position: absolute;   
            cursor:pointer;
            z-index:10;
            visibility: hidden;
            &__svg {
                display:block;
            }
            &__gallery {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    overflow: hidden;
                    .photo {
                        display: block;                        
                        width:100%;
                        height:100%;  
                        img {
                            display:none;
                        }                   
                    }
                    .caption {
                           display:none;
                    }
            }
        }
    }
    &__tooltips-lr {
        position: absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;           
    }
}